* {
  text-align: center;
}

body{
  background-color: #14E89B;
}
h1{
  margin: 10px;
  font-style: italic;
}
h3{
  padding-right: 2em;
}

.top {
  text-align: center;
  max-width: 500px;
  max-height: 50px;
  margin: 0 auto;

}

.scoreBoard {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
 }
.player{
  display: inline-block;
  padding: 15px;
 }

.scoreBox {
  border: 1px solid black;
  padding: 30px;
  background-color: white;
  table-layout: fixed;
}

p.directions {
  text-align: center;
  font-family: Open Sans, Arial, serif;
  color: black;
 }
table{
  height: 500px;
  width: 600px;
  border: 1px solid black;
  border-radius: 7%;
  background-color: lightgreen;
  margin: 0 auto;
}
/*td {
  border: 1px solid black;
  background-color: #5887E8;
}*/
.circlep1 {
  background-color: red;
}
.circlep2 {
  background-color: black;
}
td.circle {
  background: white;
  width: 80px;
  height: 80px;
  right: 50%;
  bottom: 50%;
  vertical-align: middle;
  transform: translate (50%,50%);
  border-radius: 50%;
}
button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #E2E2E8;
}
button.restart:hover {
  background-color: #FF5C54;
}

